<!-- Box Nav -->
<div class="col col-25">
  <nav class="l-boxes-navbar">
    <ul class="nav nav-vertical nav-pills">
      <% @boxes.each do |box| %>
        <li class="<%= active_class(box_path(box)) %>"><%= link_to "#{box.name}", box_path(box) %></li>
      <% end %>
    </ul>
  </nav>
</div>

<!-- Box Wods -->
<div class="col col-50">
  <% @wod.each do |wod| %>
    <div class="card <%= @box.name.downcase.gsub(/\s+/, "-") %>">
      <div class="card-heading">
        <div class="date">
          <span class="day-of-week">
            <%= wod.date.to_datetime.strftime("%A") %>
          </span>
          <span class="date-of-month">
            |
            <%= wod.date.to_datetime.strftime('%b %d') %>
          </span>
        </div>
      </div>
      <div class="card-body">
        <%=raw wod.description %>
      </div>
    </div>
  <% end %>
</div>

<!-- Archive -->